# Ignore node_modules folder
node_modules/

# Ignore dist folder
dist/

# Ignore environment variable files
# .env
# .env.local
# .env.*.local

# Ignore log files
logs/
*.log

# Ignore VS Code local history and settings
.history/
history/
_history/
.vscode/

# Ignore macOS files
.DS_Store